# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.venv/
venv/
ENV/
env/

# PyHTML specific
.pyhtml_cache/
dist/
build/
*.egg-info/
pyhtml/src/pyhtml/client/node_modules/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache
.env
chatbot.db
.coverage
htmlcov/
*.pem
pyhtml/src/pyhtml/client/coverage/

# Demo app
demo-app/.pyhtml_cache/

# Node modules
node_modules/

out/

notes/
scratch/

.ruff_cache/